@model EmployeeReviewApp.Models.SkillsTypeModels
@{
    ViewBag.Title = "Home Page";
}

<div class="row-fluid">
    <center>
        <div id="div1" style="margin-top:30px">
            @foreach (var item in Model.SkillType)
            {
                <div style="margin-top:30px"><button class="btn btn-primary" onclick="location.href='@Url.Action("ReviewForm", "EmployeeReview", new { typeID = item.SkillTypeID })'">@item.SkillTypeName</button></div>
            }
        </div>
        <div id="div2" style="margin-top:30px"><button class="btn btn-primary" onclick="location.href='@Url.Action("ReviewSummary", "EmployeeReview")'">Summary</button></div>
    </center>
</div>
@Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
<script type='text/javascript'>
    $(document).ready(function () {
        $("#div2").hide();
        var employeeID = '@Session["EmployeeID"]';
        $.ajax({
            url: 'http://localhost:50889/api/EmployeeReview/GetReviewFormCompleteStatus',
            type: "GET",
            dataType: 'json',
            cache: false,
            data: { employeeID: employeeID },
            success: function (response) {
                console.log("Success->" + response.success);
                if (response.success == 1) {
                    $("#div1").hide();
                    $("#div2").show();
                }
            },
            failure: function (response) {
                alert("failure -> " + response.responseText);
            },
            error: function (response) {
                alert("error -> " + response.responseText);
            }
        });
    });
</script>